{
  "branch": "master",
  "verifyConditions": ["semantic-release-jira"],
  "success": [
    {
      "path": "semantic-release-jira",
      "apiURL": "https://jira.mesosphere.com/rest/api/2/issue/${issueKey}",
      "apiJSON": "{ \"update\": { \"labels\": [ { \"add\": \"released-repo:ui-kit\" }, { \"add\": \"released-tag:v${version}\" } ] } }"
    }
  ]
}
