name: Dependabot Automation
on:
  pull_request_target:
    types:
      - opened
      - synchronize
permissions:
  pull-requests: write
  contents: write
env:
  PR_URL: ${{ github.event.pull_request.html_url }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  auto-approve-merge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1
      - name: Approve a PR if not already approved
        id: auto_approve
        run: |
          gh pr checkout "$PR_URL" # sets the upstream metadata for `gh pr status`
          if [ "$(gh pr status --json reviewDecision -q .currentBranch.reviewDecision)" != "APPROVED" ];
          then gh pr review --approve "$PR_URL"
          else echo "PR already approved.";
          fi
  auto-merge:
    needs: auto-approve-merge
    runs-on: ubuntu-latest
    steps:
      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1
      - name: Auto-merge PR
        run: gh pr merge --auto --squash "$PR_URL"
